.animals__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
button {
  padding: 15px 20px;
  background-color: coral;
  border: 1px solid transparent;
  font-weight: bold;
  color: aliceblue;
  margin: 20px;
  cursor: pointer;
}
